<ul>
    <li><a class="active" href="/">Strona główna</a></li>
    <li><a href="/unit_type/">Typ jednostki</a></li>
    <li><a href="/add_weapon/">Broń</a></li>
    <li><a href="/add_vehicle/">Pojazdy</a></li>
    <li><a href="/add_crew/">Stanowiska</a></li>
    <li><a href="/add_unit/">Dodaj jednostkę</a></li>
    <li><a href="/show_unit/">Lista jednostek</a></li>
    <li><a href="/show_weapon/">Lista broni</a> </li>
    <li><a href="/show_vehicle/">Lista pojazdów</a> </li>
    <li><a href="/show_type/">Lista typów</a></li>
</ul>